
 body {background-image:url("joann.jpg");}



.box {
width: 500px;
height: 00px;
margin: 50px;
padding: 50px;
font-family: Ariel, Helvetica, Vendana;
}

.title {
   color: #FFF;
   font-size: 40px;
}

p {
   color: #FFF;
   font-size: 20px;
}