
 body {
   background-image:url("joann.jpg");
   background-color: #000;
}



.box {
width: 500px;
height: 00px;
margin: 100px 50px;
padding: 50px;
font-family:  Helvetica, Vendana, Ariel;
}

.title {
   color: #FFF;
   font-size: 42px;
}

p {
   color: #FFF;
   font-size: 24px;
}