
 body {background-image:url("joann.jpg");}

/*.box {
   margin: 170px 380px;
   padding: 80px;
   width: 540px;
}
*/
.box {
   margin: 120px 200px;
   padding: 80px;
   width: 700px;
}

  .tag {
   overflow: hidden;
   float: right;
   width: 459.59px;
   height: 93.91px;
 }
 .tag p {
   font-family:"PT Serif","Georgia","Helvetica Neue",Arial,sans-serif;
   font-weight:normal;
   line-height: 1.5;
   font-size: 10pt;
   background-color: rgba(0, 0, 0, 0);
   color: #EEE;
   border: none;
   font-weight: normal;
   font-style: normal;
   text-align: right;
   text-shadow: #000 0px -1px 0px, rgba(255, 255, 255, 0.496094) 0px 1px 0px;
 }